.git
.gitignore
.github

backend/node_modules
backend/dist
coverage

mobile/node_modules
mobile/android/.gradle
mobile/android/app/build
mobile/android/build
mobile/ios/build
mobile/build

*.log
.DS_Store
Thumbs.db
